.mainBX {
  padding: 50px 20px;
  background: #efefef;
}
.mainBX ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainBX ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainBX ul li input {
  width: 33%;
  margin-right: 5px;
  padding: 5px;
  outline: none;
  border: 1px solid #ddd;
}
.mainBX ul li button {
  background: #dc3232;
  color: #fff;
  border: 1px solid #999;
  padding: 5px 20px;
  margin: 0;
}
.mainBX ul li:last-child {
  margin: 0;
}
.butns button {
  background: #886ce4;
  color: #fff;
  padding: 7px 20px;
  margin-top: 20px;
  margin-right: 15px;
  border: 1px solid #ddd;
}